
<div class="container" style="margin: 350px auto;" >
    <div class="row">
        <div class="col">
            <form action="/admin/login" method="post">
            <img src="images/imagen7.jpg" class="card-img-top" alt="camas">
               
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp" name="usuario" style="width:100px;height:30px; margin:20px">

                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" style="width:100px;height:30px; margin:20px">
                </div>

                <button type="submit" class="btn btn-primary" style="margin: 20px" >Enviar</button>
        
            </form>
            {{#if error}}
                 <p>Usuario o contraseña incorrecto!</p>
            {{/if}}
        </div>
    </div>
</div>

