<div class="container" style="margin: 100px auto;">
    <div class="row">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <label type="text" class="form-control" id="usuario" aria-describedby="emailHelp" name="usuario">

                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
        
            </form>
            {{#if error}}
                 <p>Usuario o contraseña incorrecto!</p>
            {{/if}}
        </div>
    </div>
</div>