<h2>Hola soy la pagina de direcciones</h2>
<form action="">
    <input type="text" placeholder="usuario">
    <input type="password" placeholder="pass">
    <input type="submit" value="enviar">
</form>