<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">inicio</a></li>
        <li><a href="/novedades">novedades</a></li>
        <li><a href="/direcciones">direcciones</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>