<h2>Hola soy la pagina de galeria</h2>
<p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem nesciunt nam aperiam dolores ipsam tempore, ea ad accusantium quos facilis laboriosam at id quaerat a fugiat voluptas eius enim labore!
</p>