<h2>Hola soy la pagina de Index</h2>
<p>Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Quas atque nulla cupiditate.
    Voluptatem mollitia debitis a incidunt,
    voluptatibus culpa quisquam,
    doloribus dolorum sapiente tempora quasi,
    assumenda error rem! Nobis, dolore!</p>