h1{
    background-color: yellow;
    text-align: center;
    text-align: right;
}
h2{color: red;
font-family: Arial;
font-size: 50px;
}
p{
    color: green;
}
.destacados{
    color: blue;
    font-weight: bold;
    font-style: italic;
}
#prueba{
    width: 300px;
    height: 300;
    background-color: aquamarine;
    padding: 10px;
    border: 7px solid blue;
}