h3{
    background-color:aqua;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color: red;
    font-family: arial;
    font-size: 50px;   
}
p{
    color: green;
}
.destacados{
    color: blue;
    font-weight: bold;
    font-style: italic;
}
#Linkedin{
    width: 60px;
    height: 15px;
    background-color: aquamarine;
    padding: 1px;
    border: 1px solid black;
}